@using MiniCStructure.Models 
@model IEnumerable<MiniCStructure.Models.Class>

@{
    ViewBag.Title = "EnrollInClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Enroll In Class</h2>
    </div>
    <div class="col-sm-12 form-group">
        <form method="post">
            <select name="classId" id="classId" class="form-control enroll-select" style="display: inline;">
                @foreach (Class c in Model)
                {
                    <option value="@c.ClassId">@Html.DisplayFor(modelItem => c.ClassName)</option>
                }
            </select>
            <button type="submit" class="btn btn-default">Add Class</button>
        </form>
    </div>
</div>
